
.cartao {

    /* Borda */
    border-width: 5px;
    border-color: red;
    border-style: solid;
    border-radius: 10px;

    /* Plano de fundo */
    background-color: yellowgreen;
    background-image: url("./imagens/img1.avif");

    /* Dimensão */
    height: 250px;
    width: 160px;
    
}

.cartao__corpo {

    /* Espaçamento interno */
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;

    /* Espaçamento externo */
    margin-top: 100px;

}

.titulo {

    /* Texto */
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 24px;
    text-align: center;

    /* Espaçamento externo */
    margin-bottom: 0;
}

.descricao {

    /* Texto */
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    text-align: center;  

    /* Espaçamento externo */
    margin-top: 5px;
}