
.conteudo {
    border: 5px;
    border-color: gray;
    background-color: white;
    max-width: 780px;
    min-height: 600px;
    padding: 25px;
    border-style: solid;
    
}

.navegacao__item{
    font-family: Arial, Helvetica, sans-serif sans-serif;
    border-radius: 10px;
    background-color: green;
    padding: 10px 20px;
}


.produto__item{
    font-family: Arial, Helvetica, sans-serif;
    background-color: green;
    border-radius: 10px;
    display: flex;
    width: 25%;
    height: 150px;
    text-align: center;
    align-items: center;
    justify-content: space-evenly;
    vertical-align: middle;
    
}


.produto{
    border: 5px;
    border-style: solid;
    border-color: red;
    display: flex;
    flex-direction: row;
    gap: 25px;
    height: 550px;
    margin-top: 30px;
    padding: 20px;
    align-items: center;
    justify-content: space-evenly;
    
}

.navegacao{
    display: flex;
    border: 5px;
    border-style: solid;
    border-color: red;
    padding: 20px;
    gap: 50px;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    
    
}

